@import url('https://api.fontshare.com/css?f[]=satoshi@300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i');
@import "tailwindcss";

@theme {
  /* Reemplaza la fuente por defecto (font-sans) con Satoshi */
  --font-sans: "Satoshi", system-ui, sans-serif;

  /* O crea una fuente custom si no quieres cambiar la default */
  --font-satoshi: "Satoshi", sans-serif;
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 */
  overflow: hidden;
  border-radius: 0.5rem; /* rounded-lg */
  background-color: #000;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}